.textfield-number .down-arrow,
.textfield-number .up-arrow
 {
    fill: #5f7bff !important; /* Only fill the endAdornment */
}

.textfield-number .down-arrow:hover,
.textfield-number .up-arrow:hover
 {
    fill: white !important; /* Only fill the endAdornment */
}

/* For Firefox */

input[type='number'] {
    -moz-appearance:textfield;
}



/* Webkit browsers like Safari and Chrome */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}